# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.vscode/

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.temp

